@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css');
@import 'reset.css';
@import 'common.css';

header {
  background-color: var(--main-color);
  color: white;
  padding: 2rem 0;
}
